---
title: Contact
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Me!
  description: Use this handy form to contact me. 
---

<div class="relative bg-white">
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="px-4 py-4 bg-gray-50 sm:px-6 lg:col-span-2 lg:px-8 lg:py-8 xl:pr-12">
      <div class="max-w-lg mx-auto">
        <h2 class="text-3xl font-extrabold leading-8 tracking-tight text-gray-600 sm:text-3xl sm:leading-9">
          Get in touch
        </h2>
        <p class="mt-3 text-lg leading-6 text-gray-500">
          Don't like anything you see here?  Got suggestions?  Fill in the form and send me a message!  Or you can just use the email link below.  If it gets past my spam filters, I'll be sure and respond :)
          <br><br>
          Send checks made out to "John Weirich" to this address:
        </p>
        <dl class="mt-8 text-base leading-6 text-gray-500">
          <div>
            <dt class="sr-only">Postal address</dt>
            <dd>
              <p>{{ meta.address.street }}</p>
              <p>{{ meta.address.city }}, {{ meta.address.state }}
                {{ meta.address.zip }}</p>
            </dd>
          </div>
          {# <div class="mt-6">
            <dt class="sr-only">Phone number</dt>
            <dd class="flex">
              <svg class="flex-shrink-0 w-6 h-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h2.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
              </svg>
              <span class="ml-3">
                <a class="hover:underline" href="tel:{{ meta.address.phoneCall }}">{{ meta.address.phoneDisplay }}</a>
              </span>
            </dd>
          </div> #}
          <div class="mt-3">
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              <svg class="flex-shrink-0 w-6 h-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
              </svg>
              <span class="ml-3">
                <a class="hover:underline" href="mailto:{{ meta.address.email }}">{{ meta.address.email }}</a>
              </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="px-4 py-16 bg-white sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form name="contact" action="/thankyou" method="POST" data-netlify-recaptcha="true" data-netlify-honeypot="bot-field" data-netlify="true" class="grid grid-cols-1 row-gap-6">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <div>
            <label for="full_name" class="sr-only">Full name</label>
            <div class="relative rounded-md shadow-sm">
              <input id="full_name" name="name" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Full name">
            </div>
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <div class="relative rounded-md shadow-sm">
              <input id="email" name="email" type="email" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Email">
            </div>
          </div>
          <div>
            <label for="phone" class="sr-only">Phone</label>
            <div class="relative rounded-md shadow-sm">
              <input id="phone" name="phone" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Phone">
            </div>
          </div>
          <div>
            <label for="message" class="sr-only">Message</label>
            <div class="relative rounded-md shadow-sm">
              <textarea id="message" name="message" rows="4" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Message"></textarea>
            </div>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <div class="">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="submit" class="py-4 px-6 my-4 rounded-lg {{ colors.buttonDefault.text or colors.buttonCustom.text }} hover:{{ colors.buttonDefault.textHover or colors.buttonCustom.textHover }} {{ colors.buttonDefault.bg or colors.buttonCustom.bg }} hover:{{ colors.buttonDefault.bgHover or colors.buttonCustom.bgHover }} {{ colors.buttonDefault.border or colors.buttonCustom.border }}">
                Submit
              </button>
            </span>
          </div>
        </form>
        <div class="p-4 italic text-gray-600 bg-indigo-100 border rounded-lg border-indego-300">This form uses the <a class="font-semibold text-indigo-700 underline" href="https://docs.netlify.com/forms/spam-filters/#extra-spam-prevention">basic spam and recaptcha features provided by Netlify</div>
      </div>
    </div>
  </div>
</div>