---
permalink: /tags/
layout: page
title: All Tags...
eleventyNavigation:
  key: main
  title: Tags # as it will appear in the nav
  order: 5 # order to display in the nav

---

<div class="mt-6">
  {% set tags = collections.tagList %}
  {% include "components/tagpills.njk" %}
</div>